    <div class=" col-md-2 col-sm-12 side-bar p-3 text-light text-center d-flex flex-column justify-content-between sticky  ">
        <div>

            <a href="{% url 'index' %}" class="text-decoration-none text-reset btn   p-2 rounded-pill  d-block"> Home</a>
            <a href="{% url 'kids' %}" class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill  d-block"> Kids</a>
            <a href="{% url 'mens' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >Mens</a>
            <a href="{% url 'womens' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >Womens</a>
        </div>
        <div>

            {% if request.user.is_authenticated %}
            <a href="{% url 'cart' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >cart <span class="badge badge-light">{{cart_count}}</span></a>
            <a href="{% url 'notification' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >notifications

                <span class="badge badge-light">{{noti_count}}</span>
            </a>
            <a href="{% url 'profile' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >{{request.user}}</a>
            <a href="{% url 'logout_page' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >logOut</a>

            {% else %}
            <a href="{% url 'login_page' %}"  class="text-decoration-none text-reset btn  border border-light p-2 rounded-pill d-block" >Login / Registration</a>
            {% endif %}
        </div>
    </div>