{% extends 'base.html ' %}
{% load static %}
{% block title %}
Index
{% endblock title %}
{% block style%}
<link rel="stylesheet" href="{% static 'user/css/index.css' %}">

{% endblock style%}
{% block content%}
<div class="row">
    {% include 'user/!side-bar.html' %}
    <div class="col-md-10 col-sm-12 main" style="background-color:#C8C7C5;">
<!--        first section-->
        <div class="row first-section  ">
            <div class="col-md-8 col-sm-12 first-left  ">
                <div class="container">
                    <h1>Uptown Boutique</h1>
                    <h3 class="w-50">India's Most Loved Fashion Platform
                    </h3>
                    <a href="{% url 'explore' %}" style="margin-left:290px;" class="  explore text-decoration-none text-reset btn  px-3 border border-light p-2 rounded-pill "> Explore</a>


                </div>
            </div>
            <div class="col-md-4 col-sm-12 first-right"></div>
        </div>
<!--        first section end-->
<!--        second section-->

          <div class="row" style="background-color:#C8C7C5; height:100%;">
            <div class="col second-section mt-5 ">
                 <h4 class="h2">New collections</h4>
                <div class="container ">

                <div class="row  ">

                {% for product in products|slice:"0:4" %}
                <div class="col">
                    <div class="card">
                        <img src="{{product.image.url}}" class="card-img-top" alt="product image"/>
                        <div class="card-body">
                            <h6 class="card-title">{{product.name}}</h6>
                            <p>Rs. {{product.price}}</p>
                                <form action="{% url 'add_to_cart' product.id 'explore' %}">
                                    {% if request.user.is_authenticated %}
                                    <input type="submit"  class="btn btn-primary " value="Add to cart">
                                    {% else  %}
<!--                                    <a href="{% url 'login_page' %}" class="btn btn-primary ">Add to cart</a>-->
                                    {% endif %}

                                </form>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
                    <br>
                    <br><br>
                    <br> <br><br>
                    <br>
<!--                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                    <h4>Latest trends</h4>
                <div class="row   " >
                {% for product in products|slice:"4:8" %}
                <div class="col">
                    <div class="card">
                        <img src="{{product.image.url}}" class="card-img-top" alt="product image"/>
                        <div class="card-body">
                            <h6 class="card-title">{{product.name}}</h6>
                            <p>Rs. {{product.price}}</p>
                                <form action="{% url 'add_to_cart' product.id 'explore' %}">
                                    {% if request.user.is_authenticated %}
                                    <input type="submit"  class="btn btn-primary " value="Add to cart">
                                    {% else  %}
<!--                                    <a href="{% url 'login_page' %}" class="btn btn-primary ">Add to cart</a>-->
                                    {% endif %}

                                </form>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
<!--                    777-->
            </div>

        </div>
<!--        second section end-->

    </div>
    </div>
</div>
{% include 'user/!footer.html' %}
{% endblock content%}